config/config.php
storage/cache/pages/*
storage/logs/*
storage/backups/*
storage/setup.lock
storage/documents/*
!storage/documents/.gitkeep
public/sitemap.xml
!storage/cache/pages/.gitkeep
!storage/logs/.gitkeep
!storage/backups/.gitkeep
